.mainDiv {
    padding-left: 260px;
    min-width: 810px;
    width: 100%;
    background-color: #fafbfc;
    position: relative;
}

.toTop {
    z-index: 255;
    position: fixed;
    right: 10px; bottom: 150px;
}

.toTop:hover {
    cursor: pointer;
}